<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombres:</strong>
    <%= estudiante.Nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= estudiante.Apellidos %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estudiante.Carrera %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estudiante.Carnet %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= estudiante.Fecha_de_nacimiento %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= estudiante.Celular %>
  </p>

</div>
